.wdg-button {
  vertical-align: middle;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 36px;
  padding: 0 0;
  text-decoration: none;
  border-radius: 2px;
  text-shadow: none;
  cursor: pointer;
  margin: 4px 8px;
  min-width: 72px;
  border: none;
  transition: all .2s;
  font-family: Roboto, josefin-sans, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.wdg-button.wide {
  width: calc(100% - 16px);
  display: flex;
}

.wdg-button.hide,
.wdg-button.hide.wide {
  display: none;
}

.wdg-button.flat {
  background-color: transparent;
}

.wdg-button.flat:hover {
  background-color: rgba(128,128,128,.5);
}

.wdg-button > div.text {
  flex-grow: 1;
  order: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  text-transform: uppercase;
  margin: 0 8px;
}

.wdg-button > .wdg-icon {
  order: 1;
  flex-grow: 0;
  margin: 0 8px 0 4px;
  padding: 0;
}

.wdg-button.iconToLeft > .wdg-icon {
  order: -1;
  margin: 0 4px 0 8px;
}

.wdg-button.disabled:hover,
.wdg-button.disabled {
  pointer-event: none;
  text-decoration: none;
  cursor: default;
  background: #888;
  text-shadow: none;
  box-shadow: none;
  font-style: italic;
}

.wdg-button.disabled:hover > div,
.wdg-button.disabled > div {
  opacity: .5;
}

.wdg-button:focus {
  text-decoration: underline;
  text-decoration-style: dotted;
}

/* On small screen, responsive mode hides the text when there is an icon. */
@media (max-width: 480px) {
  .wdg-button.responsive > div.text { display: none; }
  .wdg-button.responsive { max-width: 32px; min-width: 32px; margin: 0; }
}
